<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="text-muted col-sm-6">2016 © CheapTrip, Inc. All rights reserved</div>
            <div class="col-sm-6">
              <ul class="list-inline">
                <li class="logos" id="logo1"><a href="#"></a></li>
                <li class="logos" id="logo2"><a href="#youtube"></a></li>
                <li class="logos" id="logo3"><a href="#twitter"></a></li>
                <li class="logos" id="logo4"><a href="#google"></a></li>
                <li class="logos" id="logo5"><a href="#rss"></a></li>
                <li class="logos" id="logo6"><a href="#linkedin"></a></li>
              </ul>
            </div>
      </div>
  </div>
</footer>