<h1>
    All groups for travelling
</h1>
<br>
<div class="card">
    <img class="card-img-top" src="/assets/images/sofia-plovdiv.jpg" alt="Card image cap">
    <div class="card-block">
        <a class="btn btn-info" href="directions/sofia-plovdiv">
            Sofia->Plovdiv

        </a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="/assets/images/plovdiv-sofia.jpg" alt="Card image cap">
    <div class="card-block">
        <a class="btn btn-info" href="directions/plovdiv-sofia">
            Plovdiv->Sofia

        </a>
    </div>
</div>