<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Meet our leadership team!</h1>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Mario Petrov</h4>
  <h5>President &#38; Co-Founder</h5>
  <a href="https://www.facebook.com/mario.petrov.56" class="logos"></a>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div>

<div class="card card-block">
  <h4 class="card-title">Yavor Yanchev</h4>
  <h5>Founder &#38; CEO</h5>
  <a href="https://www.facebook.com/yavor.yanchev.7" class="logos"></a>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div>

