<nav class="navbar navbar-dark bg-inverse">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/home">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Top10 Drivers</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/create-post">Create post</a>
        <a class="nav-item nav-link float-xs-right" href="/register">Register</a>
        <a class="nav-item nav-link float-xs-right" href="/login">Login</a>
    </div>
</nav>