ul {
    list-style-type: none;
}

li {
    display: inline-block;
    width: 400px;
    margin: 20px;
}

.card {
    background-color: #ECEEEF;
}

.logos {
    display: inline-block;
    margin: 3px;
    margin-top: 15px;
    background-image: url(http://ui.telerikacademy.com/Content/Images/social-sprite-icons.png);
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    width: 37px;
    height: 35px;
}


/*
.card-block {
    display: inline-block;
    position: absolute;
}

.container{
    display: inline-block;
}

img {
    margin: 0;
    padding: 0;
    position: relative;
}*/