<ul>
    <li *ngFor="let item of items | async">
        {{item.day}}
    </li>
</ul>

<div class="container">
    <h2>Create post</h2>
    <form id="add-post">
        <label for="sel1">Choose destination</label>
        <select class="form-control" [(ngModel)]="selec" required name="selec" id="sel1">
            <option *ngFor="let d of directions" [ngValue]="d">{{d}}</option>
      </select>
        <label for="day_travel">Day:</label>
        <input type="text" [(ngModel)]="day" name="day" class="form-control" id="day_travel">
        <label for="time">Departure:</label>
        <input type="text" [(ngModel)]="time" name="time" class="form-control" id="time">
        <label for="seats">Seats left:</label>
        <input type="number" [(ngModel)]="seats" name="seats" min="1" class="form-control" id="seats">
        <label for="price">Price:</label>
        <input type="number" [(ngModel)]="price" name="price" min="1" class="form-control" id="price">
        <input type="submit" (click)="postPost(selec,day,time,seats,price)" value="Submit">
    </form>
</div>