<div class="container">
    <h2>Create post</h2>
    <form action="post">
        <label for="sel1">Choose destination</label>
        <select class="form-control" name="sel1" id="sel1">
      <option value="sofia-plovdiv">Sofia -> Plovdiv</option>
      </select>
        <label for="day_travel">Day:</label>
        <input type="text" class="form-control" id="day_travel">
        <label for="time">Departure:</label>
        <input type="text" class="form-control" id="time">
        <label for="seats">Seats left:</label>
        <input type="number" min="1" class="form-control" id="seats">
        <label for="price">Price:</label>
        <input type="number" min="1" class="form-control" id="price">
        <input type="submit" value="Submit">
    </form>
</div>