ul {
    list-style-type: none;
}


/*
.card-block {
    display: inline-block;
    position: absolute;
}

.container{
    display: inline-block;
}

img {
    margin: 0;
    padding: 0;
    position: relative;
}*/