<p>
    This is a group for people travelling from Sofia to Plovdiv
</p>
<ul>
    <li *ngFor="let post of posts | async">
        <div class="card">
            <img class="card-img-top" src="{{post.user.avatar}}" alt="Card image cap">
            <div class="card-block">
                <!--<h4 class="card-title">Card title</h4>-->
                <p>From:{{post.user.name}}</p>
                <p>Day:{{post.day}}</p>
                <p>Time:{{post.time}}</p>
                <p>Seats Left:{{post.seats}}</p>
                <p>Price:{{post.price}}</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </li>
</ul>